table.wiki {
    width: 100%;
    border-spacing: 20px;
   
}
li.menu1 {
    display: inline;
    padding: 10px;
}
table.menu {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
body{
    padding:50px 100px;
}
tr table {
     border: 1px double #fefcfc;
}
td.bai_viet {
    color: blue;
}
table.page {
    padding:20px 20px;
    width: 100%;
    padding: 20px;
}
p.para {
    padding: 20px;
}
td.box {
    border: 1px solid;
    width: 45%;
}
th.head {
    font-size: 20px;
    text-align: left;
}
div.linh-vuc {
    color: blue;
}
div.linh-vuc1 {
    color: blue;
    font-size: 50px;
}
b.number {
    font-size:30px;
}

